/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   


/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// make non-headings slightly lighter
.post-content p, .post-content li {
    font-size: 18px;
    color: #515151;
 }

 .page-content {
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    //font-family: "Segoe UI", SegoeUI, Roboto, "Segoe WP", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif !important;
    font-family: "Georgia", "Times New Roman", serif !important;
    font-size: 18px;
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

p code{
    font-size: 18px;
  }
  